.seu-cabelo-section  h2{
color: #7D1C3F;
}

.nav-tabs {
    
    display: flex;
    justify-content: center;
}

.nav-item a{
    color: #7D1C3F;
    border: 1px solid #7D1C3F;
    border-radius: 5px;
    font-size: 20px;
} 

.card {
    img {
        width: 200px;
        height: 200px;
    }
    .card-body {
        height: 200px;
    }

    .btn-custom {
        background-color: #7D1C3F;
        border-radius: 10px;
        border-color: #fff;
    }
} 
